{% if request.user.is_staff %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'pages' %}">
                <i class="fas fa-list"></i> Lista
            </a>
            <a class="nav-link" href="{% url 'pages_create' %}">
                <i class="fas fa-plus"></i> Crear
            </a>
        </div>
    </div>
</nav>

<!-- Cargar CKEditor -->
{% load static %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/custom_ckeditor.css' %}">
{% endif %}
